table {
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: collapse;
    
  }
  
  table tr {
    border-bottom: solid 1px #d9d9d9;
  }
  
  table tr:first-child {
    border-bottom: solid 3px #d9d9d9;
  }
  
  table th,
  table td {
    padding: 1rem;
    text-align: center;
  }

  

  /* map */
 /* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
